<!DOCTYPE html>
<html>
<head>
    <title>崛博Library</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="./Public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./Public/css/main.css">
    <link rel="stylesheet" href="./Public/css/font-awesome.min.css">
    <script src="./Public/js/jquery.min.js"></script>
    <script src="./Public/js/popper.min.js"></script>
    <script src="./Public/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

</head>

<body>
<div class="nav-header">
    <nav class="navbar navbar-expand-sm bg-warning navbar-dark">
        <a class="navbar-brand" href="./index.php">崛博|Lib</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">关于我们</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="bg-light search-div">
        <form class="form-inline search-div-form" method="get" action="./index.php">
            <div class="input-group search">
                <input type="hidden" name="c" value="search">
                <input class="form-control" type="text" placeholder="请输入标题，例如：平凡的世界" name="key">
                <button class="btn btn-warning" type="submit">
                    <i class="icon-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<eq name="status_error" value="1">
    <div class="alert alert-primary alert-dismissable info-body">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        很抱歉，没有搜索结果
    </div>
</eq>
<div class="container">
    <div class="list-group lib-list">
        <volist name="book_list" id="index_book_list">
            <a href="./index.php?c=article&id={$index_book_list.id}" class="list-group-item list-group-item-action">
                <img style="float:left;" src="./Uploads/{$index_book_list.img}" class="rounded" width="80" height="100">
                <div style="position: relative;left:10px;">
                    <h5>{$index_book_list.title}</h5>
                    <p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;"><span class="badge badge-primary">简介</span>{$index_book_list.dec}</p>
                </div>
            </a>
        </volist>
    </div>
    <neq name="status_error" value="1">
        <div class="next-back-page">
            <p>当前为第{$page_now}页，共{$page_all}页</p>
            <a href="./index.php?c=search&page={$index_up_page}&key={$index_key}"><button type="button" class="btn btn-warning" {$ctrl_up_button}>上一页</button></a>
            <a href="./index.php?c=search&page={$index_down_page}&key={$index_key}"><button type="button" class="btn btn-warning" {$ctrl_down_button}>下一页</button></a>
        </div>
    </neq>
</div>
</body>
</html>
